@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
/* Border-box allows it so that if we add any padding or border on an element it doesn't effect the width of the page */
* {
    box-sizing: border-box
}
.container {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
}

h1 {
    padding: 0%;
    margin: 0%;
}

#theLists {
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    /* height: 100vh; */
    /* overflow: hidden; */
    margin: 0;
}

.discover {
    display: flex;
    flex-direction: row;
    padding: 1em;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
    /* background-color: #fff8f7; */
}

#seenListDiv {
    display: inline-block;
    width: 40%;
}

#watchListDiv {
    display: inline-block;
    width: 40%;
}

.details {
    /* display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%; */
}

.details p {
    display: inline;
    color: rgb(0, 0, 0);
    width: 80%;
}

.details p.Rated {
    display: inline-block;

}

.details p.Plot {
    display: block;
    margin: 2%;
}

.details p.Title {
    display: inline;
    font-weight: bold;
    font-size: 35px;
    width: 50%;
    text-align: left;
}

button {
    height: 40px;
    width: 100px;
}

#player {
    /* position: relative; */
    width: 900px;
    height: 300px;
}

img {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 300px;
    margin-right: 15px;
    border-radius: 12px;
}

p {
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
    justify-content: center;
    padding: 0.15%;
    margin: 0%;
}
.details p.Year {
    display: inline;
    text-align: right;
    color: rgb(165, 165, 165);
    font-size: 25px;
    width: 50%;
    margin-left: 10px;
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
} 


/* List */
ul {
    counter-reset: index;  
    padding: 0;
    max-width: 300px;
  }
  
  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
  li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1rem;
    text-align: right;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(121, 121, 121));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Element separation */
  li + li {
    border-top: 1px solid rgba(38, 38, 38, 0.2);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* @use postcss-preset-env {
    stage: 0;
    autoprefixer: {
      grid: true;
    }
    browsers: last 2 versions
  } */
  