@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
/* Border-box allows it so that if we add any padding or border on an element it doesn't effect the width of the page */
* {
    box-sizing: border-box
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column !important;
    align-items: center !important; 
    justify-content: center !important;
    background-color: rgb(46, 46, 46);
    /* height: 100vh; */
    /* overflow: hidden; */
  }
  
  #theLists {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50vh;
  }
  
  #movies-view {
    display: flex;
    height: 50vh;
    width: 98vw;
    margin: 0%;
    flex-direction: row;
  }
  
  
  .discover {
    display: flex;
    flex-direction: row;
    /* padding: 1em; */
    border: 2px solid rgb(22, 22, 22);
    border-radius: 18px;
    background-color: rgb(30, 30, 30);
    background-size: auto 100%; 
    background-repeat: no-repeat;
    height: 70vh;
    cursor: pointer;
    color: rgb(232, 232, 232);
    flex: 0.4;
    /* margin: 2px; */
    position: relative;
    transition: flex 0.7s ease-in;
    /* I am adding a transition on the flex property, so when this property changes it is not instantaneous */
    /* I am making position relative so that I can make elements inside have position absolute */
    /* flex will be the value that I will be changing for when the discover divs are active or inactive 
    (how much space they will occupy relative to each other */
    /* background-size auto is good for like centering a background image so that 
    it does not warp the aspect ratio on different sizes. background-position also good for this.
    background-repeat: no-repeat also highly recommended*/
  }
  

  
  
  .details {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    opacity: 0;
    /* margin-left: 285px; */
  }

  .details {
    display: none;
  }

.details.active p.Title {
  display: inline;
  font-weight: bold;
  font-size: 35px;
  /* position: absolute; */
  /* margin-left: 285px; */
  opacity: 1;
  width: 50%;
}

.details.active p.Year {
    display: inline;
    /* position: absolute; */
    text-align: right;
    color: rgb(165, 165, 165);
    font-size: 35px;
    width: 5%;
    /* margin-left: 160px; */
    margin-top: 0.01%;
    opacity: 1;
}

.details.active p.Title {
  opacity: 1;
}

.details p {
  padding-left: 0%;
  
  margin: 0%;
  padding: 0.1%;
}

.details.active button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: #e64c66;
  color: #ffffff;
  -webkit-appearance: button;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  height: 3rem;
  width: 9rem;
}

.details p.Rated {
    display: inline;
    padding-left: 0%;
    width: 5%;
    /* margin-left: 250px; */
    margin-top: 10px;
}

#buttonDiv {
  justify-content: space-evenly;
  display: flex;
  width: 30vw;
  padding-top: 3rem;
  padding-left: 10rem;
}

.details p.Plot {
    display: block;
    margin: 0;
}

.details p.Runtime {
  /* display: inline-block; */
  margin-top: 10px;
}


#player {
  position: relative;
  /* padding-top: -5%; */
  /* padding-right: 0.8%;  */
  width: 50vw;
  height: 69vh;
  float: right;
  display: inline;
  border-radius: 18px;
}


.discover.active {
  flex: 9;
}



.details.active {
  opacity: 1 !important;
  padding-left: 24%;
  padding-top: 2%;
  display: flex;
}



#theLists {
  display: flex;
  /* align-items: center; */
  justify-content:space-evenly;
  color: rgb(232, 232, 232);
  width: 101vw;
  margin-top: 10%;
}

#seenListDiv {
  display: flex;
  flex-direction: column;
  width: 48%;
  /* align-items: stretch; */
  /* align-items: center;  */
  /* justify-content: space-between;  */
  border: 2px solid rgb(22, 22, 22);
  border-radius: 18px;
  background-color: rgb(30, 30, 30);
}

#seenListDiv li {
  /* padding-left: 2em;
  padding-bottom: 1.5em; */
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  /* justify-content:space-between; */
}


#watchListDiv li {
  /* padding-left: 2em;
  padding-bottom: 1.5em; */
  display: flex;
  /* justify-content: space-between; */
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  /* justify-content:space-between; */
}



#seenListDiv button {
  width: 15%;
  /* align-self: flex-end; */
}


ul {
  padding-left: 3%;
}



#seenListDiv h1 {
  display: block;
  align-self: center;
}

#watchListDiv h1 {
  display: block;
  align-self: center;
}

#watchListDiv {
  display: flex;
  flex-direction: column;
  width: 48%;
  /* align-items: stretch; */
  /* align-items: center;  */
  /* justify-content: space-between;  */
  justify-content: flex-end;
  border: 2px solid rgb(22, 22, 22);
  border-radius: 18px;
  background-color: rgb(30, 30, 30);
}

#watchListDiv button {
  width: 15%;
  display: inline;
  /* align-self: flex-end; */
  margin-left: 30%;
}

@media(max-width: 480px) {
  #movies-view {
    width: 100vw;
  }
  .discover:nth-of-type(4),
  .discover:nth-of-type(5) {
    display: none;
  }
  /* colon is a pseudo-selector. It will get the last 2 of the .panel type (get 4 and 5, and don't display them if width is below 480pxs*/
}

button {
    /* height: 40px;
    width: 100px; */
}





.button-56 {
    align-items: center;
    background-color: #a0a0a0;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #5c5c5c;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
} 



  
  /* @use postcss-preset-env {
    stage: 0;
    autoprefixer: {
      grid: true;
    }
    browsers: last 2 versions
  } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  